include header.jade
link(rel='stylesheet', href='public/css/leaderboard.css') 
br
div.container
	div.navbar-wrapper

		a.btn.btn-primary(href="/")
			i.glyphicon.glyphicon-home  Home
		a.btn.btn-primary(href="/leaderboard")
			i.glyphicon.glyphicon-sort  Leaderboard
		a.btn.btn-danger.remove.pull-right
			i.glyphicon.glyphicon-trash  Clear
			
	h1 Top Search Results:

	div.leaderBoard

script(type="text/javascript" src= "public/js/leaderboard.js")
