	<body>
		<div class="container text-center">

		<h1 class = "mainHeading">Welcome to the OMDB movie search! Type in a title and click search to get started.</h1>

		<span class="errorMessage">Please enter a title!</span>

		<br>
		<form action="">
			<p>
				<label for="movieName">Movie Title: </label> <input type="text" id = "movieName" class = "movieVal" required autofocus>
			</p>	

			<p>
				<input type="checkbox" class = "includeTomatoData" id ="tomatoCheck" > <label for="tomatoCheck" class = "checkboxText" > Check if you like to see Rotten Tomatoes data as well </label> 
			</p>
			
			<p>
				<input type = "submit" class = "btn btn-info searchButton" value ="Search!"></a>	
			</p>
		</form>
		
		<h2 class="desc">Movie Description:</h2>
		<div class="searchResults">
		

		</div>

		<hr>
		
		<h2 class="desc">Movie Details:</h2>
		<div class="movieDetails">
		
			
		</div>
		

		</div>
	</body>
</html>
